
.jumbotrom{
    background-color:pink;
    color:black;
    text-align: center;
}

footer{
    padding: 10px 10px 0 10px ;
    background-color:pink;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.card-serie{
    flex: 1 150px;
    padding: 2px 4px 2px 5px;
    margin-top: 100px;
}
.btn-favorite{
    width: 100px;
    position: absolute;
}
.centerfooter{
    text-align: center;
}